@using Devella.DataAccessLayer.DTOs.UserAccess
@using Devella.Interfaces
@using DataAccessLayer.Enums
@inject NavigationManager NavigationManager
@inject IAuthProvider AuthProvider

<section id="comp-reg-form">
    <h5>Du har valt företag</h5>
    <p>Vänligen fyll i följande fält för att fullborda registreringen</p>
    <EditForm Model="@registerData" method="post" FormName="registerDeveloper" OnValidSubmit="RegisterCompanyUser">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="form-group col-md-6 mt-3">
                <label for="firstName">Förnamn *</label>
                <InputText id="firstName" class="form-control" @bind-Value="@registerData.FirstName" placeholder="Förnamn" />
                <ValidationMessage For="@(() => registerData.FirstName)" />
            </div>

            <div class="form-group col-md-6 mt-3">
                <label for="surname">Efternamn *</label>
                <InputText id="surname" class="form-control" @bind-Value="@registerData.Surname" placeholder="Efternamn" />
                <ValidationMessage For="@(() => registerData.Surname)" />
            </div>
        </div>

        <div class="form-group col-md-12 mt-3">
            <label for="email">E-postadress *</label>
            <InputText id="email" class="form-control" @bind-Value="@registerData.Email" placeholder="E-postadress" />
            <ValidationMessage For="@(() => registerData.Email)" />
        </div>

        <div class="form-group col-md-12 mt-3">
            <label for="password">Lösenord *</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="@registerData.Password" placeholder="Lösenord" />
            <ValidationMessage For="@(() => registerData.Password)" />
        </div>

        <div class="form-group col-md-12 mt-3">
            <label for="confirmPassword">Bekräfta lösenord *</label>
            <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="@registerData.ConfirmPassword" placeholder="Upprepa lösenord" />
            <ValidationMessage For="@(() => registerData.ConfirmPassword)" />
        </div>

        <ValidationSummary />

        <div class="registration-buttons">
            <button class="btn-primary-theme" type="submit">Registrera</button>
            <button class="btn-primary-theme" type="button" @onclick="CancelForm">Avbryt</button>
        </div>
    </EditForm>
</section>

@code {
    private RegisterDTO registerData = new();
    // Allows parent component to handle cancel event
    [Parameter] public EventCallback OnCancel { get; set; }
    // Allows parent component to handle success event
    [Parameter] public EventCallback OnRegistrationSuccess { get; set; }
    // Allows parent component to handle failed event
    [Parameter] public EventCallback OnRegistrationFailed { get; set; }

    private async Task RegisterCompanyUser()
    {
        try
        {
            registerData.Role = Role.Client;
            var request = await AuthProvider.RegisterUserAsync(registerData);
            if (request == false)
            {
                await OnRegistrationFailed.InvokeAsync();
                return;
            }

            NavigationManager.NavigateTo("/login");
            await OnRegistrationSuccess.InvokeAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            return;
        }
    }

    private async Task CancelForm()
    {
        await OnCancel.InvokeAsync();
    }
}
